# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules and build directories
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.*.local

# Docker related files
Dockerfile*
docker-compose.yml
.docker/

# Backend-related ignores
uploads/

backend/src/connection/firebase/jiraclone-a750e-firebase-adminsdk-lghhc-03012998cc.json
